.signinform {
  margin-top: 3rem;
  width: 100%;
}
.btnsignin {
  background-color: #ffc800;
  width: 100%;
  color: black;
  border: transparent;
}
.btnsignin:hover {
  background-color: #353535;
  color: white;
}
.fbl {
  width: 28rem;
  height: 2.5rem;
  background-color: #4c69ba;
  color: white;
  border-radius: 5px;
  margin-top: 1rem;
}
