.cadre {
  width: 1682px;
  height: 200px;
  background: #353535;
}
.ppp {
  color: white;
  padding-left: 0.3rem;
  font-family: "Open Sans";
  font-weight: 400;
}
.aa {
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  color: #000;
  margin-left: 3rem;
  padding-top: 0.3rem;
}
.cadreJ {
  width: 1682px;
  height: 1.5625rem;
  background: #ffc800;
}

.Fimg {
  max-height: 25%;
  margin-top: 2rem;
  padding-left: 1.9rem;
}

.ppp .yellow {
  color: #ffc800;
}

.catt {
  text-align: left;
  padding-top: 2rem;
}

.size {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
}
.ss {
  font-size: 12px;
}

.bb {
  text-align: left;
}
.tt {
  text-align: left;
}

.inputt {
  height: 1.7rem;
  width: 15rem;
}
.butt {
  height: 1.7rem;
  padding-top: 0.1%;
}
